.wedeo-bg-player {
  display: flex;
  width: 100vw;
  max-width: 100%;
  height: 85vh;
  color: var(--white);
  overflow: hidden;
}

.wedeo-bg-player:not(.vjs-fullscreen) video {
  object-fit: cover;
}

.wedeo-bg-player .background-player-mute-btn {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 85vh;
  width: 100vw;
  background: linear-gradient( 0deg, var(--bg-blackA15) 20%, transparent 50% );
  z-index: 2;
}

.wedeo-bg-player .vjs-loading-spinner {
  border: 8px solid var(--bg-blackA60);
  margin: -50px 0 0 -50px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.wedeo-bg-player .vjs-loading-spinner:after,
.wedeo-bg-player .vjs-loading-spinner:before {
  margin: -8px;
}

.wedeo-bg-player .vjs-loading-spinner:after {
  content: none;
}

.wedeo-bg-player.vjs-seeking .vjs-loading-spinner:before,
.wedeo-bg-player.vjs-waiting .vjs-loading-spinner:before {
  border-top-color: var(--white);
  -webkit-animation: vjs-spinner-spin 1.1s cubic-bezier(.6,.2,0,.8) infinite;
  animation: vjs-spinner-spin 1.1s cubic-bezier(.6,.2,0,.8) infinite;
}

.wedeo-bg-player .vjs-big-play-button {
  display: none;
}

.wedeo-bg-player .vjs-control {
  height: 30px;
  width: 50px;
}

.wedeo-bg-player .vjs-control-bar {
  max-width: 1320px;
  margin: auto;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  height: 50px;
  align-items: center;
  background: none;
  pointer-events: none;
  opacity: 1 !important;
}

@media (min-width: 640px) {
  .wedeo-bg-player .vjs-control-bar {
    padding-left: 48px;
    padding-right: 48px;
  }
}

.wedeo-bg-player .vjs-volume-panel {
  top: -100px;
  z-index: 3
}

.wedeo-bg-player .vjs-time-control {
  position: relative;
  left: -50px;
  top: -50px;
  z-index: 3
}

.wedeo-bg-player .vjs-mute-control {
  pointer-events: all;
}

.wedeo-bg-player .vjs-progress-control,
.wedeo-bg-player .vjs-volume-control {
  display: none;
}

.wedeo-bg-player .vjs-volume-panel.vjs-volume-panel-horizontal.vjs-hover {
  width: 50px;
}

.wedeo-bg-player .vjs-button>.vjs-icon-placeholder:before {
  font-size: 30px;
  line-height: 35px;
}

.wedeo-bg-player .vjs-time-control {
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 33px;
  margin-top: 5px;
  width: unset;
}

.wedeo-bg-player .vjs-time-divider {
  width: 1px;
  padding: 0px;
  min-width: 1px;
}

.wedeo-bg-player .vjs-remaining-time,
.wedeo-bg-player .vjs-play-control,
.wedeo-bg-player .vjs-fullscreen-control,
.wedeo-bg-player .vjs-picture-in-picture-control {
  display: none;
}
