.smallBtn {
  padding: 3px 8px 3px 6px;;
  font-size: 16px;
  line-height: 21px;
  border: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
}

.smallBtn .material-icons {
  font-size: 16px;
  line-height: 21px;
  margin-right: 3px;
}

.bigBtn {
  padding: 10px 25px;
  font-size: 24px;
  border: 2px solid;
  border-image-slice: 1;
  border-width: 2px;
}

.btn,
.smallBtn,
.bigBtn {
  display: inline-flex;
  text-decoration: none;
  color: var(--white);
  border-image-source: linear-gradient( 135deg, var(--cyan500), var(--main) );
  background: linear-gradient( 135deg, var(--cyan500), var(--main) );
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.smallBtn:hover,
.smallBtn:focus,
.smallBtn:focus,
.smallBtn:active,
.bigBtn:hover,
.bigBtn:focus,
.bigBtn:focus,
.bigBtn:active {
  background: linear-gradient( 135deg, var(--cyan500), var(--main) ) !important;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
