* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: none;
}

:root {
  --bg-black: #111111;
  --bg-blackA15: #11111126;
  --bg-blackA60: #11111199;
  --bg-gray: #222222;
  --bg-grayA60: #22222299;
  --main-gray: #333333;
  --gray: #6D6D6D;
  --grayA60: #6c6c6c99;
  --light-gray: #E7E7E7;
  --silver: #AAAAAA;
  --silverA60: #aaaaaa99;
  --whiteA15: #ffffff26;
  --white: #ffffff;
  --main: #007abf;
  --mainA30: #007abf4d;
  --red500: #F44336;
  --red900: #B71C1C;
  --pink500: #E91E63;
  --pink900: #880E4F;
  --purple500: #9C27B0;
  --purple900: #4A148C;
  --deepPurple500: #673AB7;
  --deepPurple900: #311B92;
  --blue500: #2196F3;
  --blue900: #0D47A1;
  --cyan500: #00BCD4;
  --cyan500A30: #00BCD44d;
  --cyan900: #006064;
  --teal500: #009688;
  --teal900: #004D40;
  --green500: #4CAF50;
  --green900: #1B5E20;
  --lime500: #CDDC39;
  --lime900: #827717;
  --yellow500: #FFEB3B;
  --yellow900: #F57F17;
  --orange500: #FF9800;
  --orange900: #E65100;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var( --bg-black );
}

.bigBtn {
  display: inline-flex;
  padding: 10px 25px;
  font-size: 24px;
  color: var(--white);
  text-decoration: none;
  border: 2px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient( 135deg, var(--cyan500), var(--main) );
  background: linear-gradient( 135deg, var(--cyan500), var(--main) );
  transition: background 0.3s ease-in-out;
}

.bigBtn:hover,
.bigBtn:focus,
.bigBtn:focus,
.bigBtn:active {
  background: linear-gradient( 135deg, var(--cyan500), var(--main) ) !important;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}


/* header */
header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient( 0deg, transparent, var(--bg-blackA60) );
  z-index: 999999;
}

headerLeft,
headerCenter,
headerRigth {
  display: flex;
  align-items: center;
}

headerLeft,
headerRigth {
  padding: 15px;
}

headerRigth {
  width: 270px;
  background-color: blue;
}

.headerButton {
  display: flex;
  align-items: center;
  color: var(--white);
  margin-right: 15px;
  cursor: pointer;
}

.headerButton .material-icons {
  font-size: 36px;
}

.headerLogo img {
  margin-top: 5px;
  height: 35px;
}

headerCenter {
  position: relative;
  width: calc(70% - 600px);
}

.headerSearchInput {
  width: 100%;
  font-size: 20px;
  color: var(--white);
  padding: 5px 30px 5px 0;
  border: none;
  border-bottom: 1px solid var(--silver);
  background-color: transparent;
}

.headerSearchInput:focus {
  border-bottom: 1px solid var(--light-gray);
}

.headerSearchInput::placeholder {
  color: var(--silver);
}

.headerSearchInput:focus::placeholder {
  color: var(--light-gray);
}

.mainSearchButton {
  display: flex;
  align-items: center;
  position: absolute;
  color: var(--silver);
  right: 0px;
  height: 36px;
  cursor: pointer;
}

.headerSearchInput:focus + .mainSearchButton {
  color: var(--light-gray);
}
