* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: none;
  overflow-wrap: anywhere;
}

:root {
  --black: #000000;
  --bg-black: #111111;
  --bg-blackA15: #11111126;
  --bg-blackA60: #11111199;
  --bg-gray: #222222;
  --bg-grayA60: #22222299;
  --main-gray: #333333;
  --gray: #6D6D6D;
  --grayA60: #6c6c6c99;
  --light-gray: #E7E7E7;
  --silver: #AAAAAA;
  --silverA60: #aaaaaa99;
  --whiteA15: #ffffff26;
  --white: #ffffff;
  --main: #007abf;
  --mainA30: #007abf4d;

  --red500: #EF4444;
  --red700: #B91C1C;
  --red900: #7F1D1D;

  --orange500: #F97316;
  --orange700: #C2410C;
  --orange900: #7C2D12;

  --yellow500: #EAB308;
  --yellow700: #A16207;
  --yellow900: #713F12;

  --lime500: #84CC16;
  --lime700: #4D7C0F;
  --lime900: #365314;

  --green500: #22C55E;
  --green700: #15803D;
  --green900: #14532D;

  --teal500: #14B8A6;
  --teal700: #0F766E;
  --teal900: #134E4A;

  --cyan500: #06B6D4;
  --cyan500A30: #00BCD44d;
  --cyan700: #0E7490;
  --cyan900: #164E63;

  --blue500: #3B82F6;
  --blue700: #1D4ED8;
  --blue900: #1E3A8A;

  --purple500: #A855F7;
  --purple700: #7E22CE;
  --purple900: #581C87;

  --rose500: #F43F5E;
  --rose700: #BE123C;
  --rose900: #881337;
}

body {
  font-family: 'Open Sans', sans-serif;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--bg-gray) var(--bg-black);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--bg-black);
}

::-webkit-scrollbar-thumb {
  background: var(--bg-gray);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-gray);
}


/* header */
.header {
  background: linear-gradient( 0deg, transparent, var(--bg-blackA60) );
  transition: background 0.3s ease-in-out, border 0.3s cubic-bezier(1,-0.01, 1,-1.34);
  z-index: 999999;
}

.header.solid {
  background: var(--bg-gray);
  border-bottom: 1px solid var(--black);
}

.header.blur {
  background: var(--bg-black);
}

.header.blur .headerCenter,
.header.blur .headerRight {
  filter: brightness(0.4) blur(3px);
}

.headerButton {
  display: flex;
  align-items: center;
  color: var(--white);
  cursor: pointer;
}

.headerButton:not(:last-child) {
  margin-right: 15px;
}

.headerButton .material-icons {
  font-size: 34px;
}

.headerLogo img {
  margin-top: 5px;
  height: 35px;
}

.headerCenter {
  width: calc(70% - 600px);
}

.headerSearchInput {
  width: 100%;
  font-size: 20px;
  padding: 5px 30px 5px 0;
  border: none;
  opacity: 0.5;
  color: var(--white);
  border-bottom: 1px solid var(--white);
  background-color: transparent;
}

.headerSearchInput::placeholder {
  color: var(--light-gray);
}

.mainSearchButton {
  display: flex;
  align-items: center;
  position: absolute;
  color: var(--white);
  right: 0px;
  height: 36px;
  cursor: pointer;
}

.headerSearchInput,
.headerSearchInput + .mainSearchButton {
  opacity: 0.5;
}

.headerSearchInput:focus,
.headerSearchInput:focus + .mainSearchButton {
  opacity: 1;
}

.uploadButton .material-icons,
.bookmarkButton .material-icons,
.friendsButton .material-icons {
  font-size: 32px;
}

.notificationsButton .material-icons {
  font-size: 30px;
}

.userButton img {
  height: 34px;
  width: 34px;
}


/* side navi */
.sideNaviContainer {
  position: absolute;
}

.sideNavi {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: -280px;
  height: 100vh;
  width: 280px;
  filter: none;
  background: var(--bg-gray);
  transition: left 0.2s ease-in-out;
  z-index: 5;
}

.sideNavi.open {
  left: 0;
}

.sideNaviBg.open {
  display: flex;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 4;
  background: transparent;
}


/* landing page all videos */
.mainContainer.blur,
.miniWedeoContainer.blur {
  display: block;
  filter: brightness(0.4) blur(3px);
}

.allVideosContainer {
  max-width: 1320px;
}


/* miniWedeoPlayer*/
.miniWedeoContainer {
  z-index: 3;
}

.miniWedeo .wedeoContainer {
  width: 100% !important;
}

.miniWedeoHeader {
  background: linear-gradient( 135deg, var(--cyan500), var(--main) );
  touch-action: none;
}

/* watchPage */
.mainWedeoContainer {
  height: calc( 100vh - 65px );
}

.mainWedeoContainer.large {
  height: 100vh;
  width: 100vw;
  margin-top: 0;
  padding: 0;
}

.wedeoSideContainer {
  flex-basis: 0;
  flex-grow: 1;
}

.mainWedeoContainer.large .wedeoSideContainer {
  display: none;
}

.wedeoSideContainerHeaderLine {
  height: 2px;
  top: 54px;
  width: calc( 100% / 3 );
}

.wedeoSideContainerHeaderLine.widthPlaylist {
  width: calc( 100% / 4 );
}

/* description */
.wedeoSideShortInfo {
  display: grid;
  grid-template-columns: 40% auto;
  grid-row-gap: 4px;
  margin-top: 16px;
  padding-top: 8px;
  padding-bottom: 4px;
  border-top: 1px solid var(--gray);
}

/* more videos */
.shortHorVideoContent {
  flex-basis: 0;
  flex-grow: 1;
}