wedeoContainer {
  display: block;
  width: 1320px;
  margin: auto;
  margin-top: 30px;
}

.wedeo-player {
  display: flex;
  width: 100%;
  height: 0px;
  color: var(--white);
  padding-top: 56.25%;
}

.wedeo-player video[poster] {
  object-fit: cover;
}

.wedeo-player .vjs-header {
  display: flex;
  position: absolute;
  height: 80px;
  width: 100%;
  padding: 20px 15px;
  top: 0;
  background: linear-gradient( 0deg, transparent, var(--bg-blackA60) );
}

.wedeo-player.vjs-has-started.vjs-user-inactive.vjs-playing:not(.vjs-open-menu) .vjs-header {
  visibility: visible;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s;
}

.wedeo-player.vjs-has-started.vjs-user-inactive.vjs-playing.vjs-open-menu .vjs-header {
  opacity: 1;
}

.wedeo-player .vjs-header-title {
  font-size: 30px;
}

.wedeo-player .vjs-control {
  height: 30px;
  width: 50px;
}

.wedeo-player .vjs-big-play-button {
  top: 50%;
  left: 50%;
  height: 100px;
  width: 180px;
  margin-top: -50px;
  margin-left: -90px;
  border-radius: 0px;
  border: 3px solid var(--white);
  background-color: var(--bg-blackA60);
}

.wedeo-player .vjs-big-play-button:focus,
.wedeo-player:hover .vjs-big-play-button {
  background-color: transparent;
}

.wedeo-player .vjs-big-play-button .vjs-icon-placeholder:before {
  content: "";
  background-image: url(../img/icons/play.svg);
  background-repeat: no-repeat;
  height: 67px;
  width: 54px;
  left: 50%;
  margin-left: -23px;
  top: 50%;
  margin-top: -33px;
}

.wedeo-player.vjs-has-started .vjs-control-bar {
  display: flex;
  height: 50px;
  align-items: center;
  background: linear-gradient( 0deg, var(--bg-blackA60), var(--bg-blackA15) );
  box-shadow: 0px -50px 30px var(--bg-blackA15);
}

.wedeo-player.vjs-has-started.vjs-user-inactive.vjs-playing:not(.vjs-open-menu) .vjs-control-bar {
  visibility: visible;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s;
}

.wedeo-player.vjs-has-started.vjs-user-inactive.vjs-playing.vjs-open-menu .vjs-control-bar {
  opacity: 1;
}

.wedeo-player .vjs-progress-control {
  position: absolute;
  height: 7px;
  width: calc( 100% - 20px );
  top: -10px;
  right: 0;
  left: 10px;
  bottom: 50px;
  padding: 10px 0;
}

.wedeo-player .vjs-progress-control:hover .vjs-progress-holder,
.wedeo-player .vjs-progress-control:active .vjs-progress-holder {
  height: 7px;
}

.wedeo-player .vjs-play-progress {
  transition: width 0.07s cubic-bezier(0.48, 0.48, 0.48, 0.48);
}

.wedeo-player .vjs-progress-control:active .vjs-play-progress {
  transition: width 0s cubic-bezier(0.48, 0.48, 0.48, 0.48);
}

.wedeo-player .vjs-play-progress {
  background: var(--main);
  background: linear-gradient( 135deg, var(--cyan500), var(--main) );
}


.mobile .wedeo-player .vjs-volume-control {
  display: none;
}

.mobile .wedeo-player .vjs-volume-panel.vjs-volume-panel-horizontal.vjs-hover {
  width: 50px;
}

.wedeo-player .vjs-volume-level {
  background: var(--white);
}

.wedeo-player .vjs-load-progress,
.wedeo-player .vjs-load-progress div {
  background: var(--silver);
  transition: width 0.1s cubic-bezier(0.48, 0.48, 0.48, 0.48);
}

.wedeo-player .vjs-slider,
.wedeo-player .vjs-progress-holder {
  background: var(--grayA60);
}

.wedeo-player .vjs-progress-control .vjs-progress-holder {
  margin: 0px;
}

.wedeo-player .vjs-button:focus,
.wedeo-player .vjs-button:focus:before,
.wedeo-player .vjs-button:hover,
.wedeo-player .vjs-button:hover:before {
  text-shadow: 0 0 5px var(--white);
}

.wedeo-player .vjs-volume-panel {
  transition: width 0.5s;
}

.wedeo-player .vjs-volume-panel .vjs-volume-control.vjs-volume-horizontal {
  margin-top: 2px;
  transition: visibility 1s, opacity 1s, height 1s 1s, width 0.5s, left 1s 1s, top 1s 1s;
}

.wedeo-player .vjs-volume-bar.vjs-slider-horizontal,
.wedeo-player .vjs-slider-horizontal .vjs-volume-level {
  height: 4px;
}

.vjs-custom-control-spacer .vjs-control {
  margin-right: 5px;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.wedeo-player .vjs-button>.vjs-icon-placeholder:before,
.wedeo-player .vjs-button .material-icons {
  font-size: 30px;
  line-height: 35px;
  cursor: pointer;
}

.wedeo-player .vjs-volume-level:before,
.wedeo-player .vjs-progress-control:hover .vjs-play-progress .vjs-time-tooltip,
.wedeo-player .vjs-progress-control:hover .vjs-mouse-display .vjs-time-tooltip {
  display: none;
}

.wedeo-player .vjs-play-progress:before {
  font-size: 0;
  top: 2px;
  right: -2px;
  transition: font-size 0.2s, top 0.2s, right 0.2s;
  color: var(--main);
}

.wedeo-player .vjs-progress-control:hover .vjs-play-progress:before,
.wedeo-player .vjs-progress-control:active .vjs-play-progress:before {
  display: block;
  font-size: 17px;
  right: -9px;
  top: -5px;
}

.wedeo-player .vjs-time-control {
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 33px;
  margin-top: 5px;
  width: unset;
}

.wedeo-player .vjs-time-divider {
  width: 1px;
  padding: 0px;
  min-width: 1px;
}

.wedeo-player .vjs-remaining-time {
  display: none;
}

.wedeo-player .vjs-custom-control-spacer {
  display: flex;
  margin-left: auto; /* moves everything after this element to the right site */
}


/* player settings */
.wedeo-player .vjs-settings-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  right: 10px;
  bottom: calc( 50px + 15px );
  width: 250px;
  font-size: 16px;
  background: var(--bg-blackA60);
}

.wedeo-player .vjs-setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px 8px 10px;
  cursor: pointer;
}

.wedeo-player .vjs-setting:hover,
.wedeo-player .vjs-setting:focus,
.wedeo-player .vjs-settings-dropdown-title-container:hover,
.wedeo-player .vjs-settings-dropdown-title-container:focus {
  background: var(--mainA30);
  background: linear-gradient( 135deg, var(--cyan500A30), var(--mainA30) );
}

.wedeo-player .vjs-setting-value-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.wedeo-player .vjs-settings-dropdown {
  display: none;
  width: 200px;
  flex-direction: column;
  position: absolute;
  right: 10px;
  font-size: 16px;
  bottom: calc( 50px + 15px );
  background: var(--bg-blackA60);
}

.wedeo-player .vjs-settings-dropdown-title-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 10px 8px 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid var(--white);
  cursor: pointer;
}

.wedeo-player .vjs-settings-dropdown-title-container .material-icons {
  margin-left: -5px;
}

.wedeo-player .vjs-settings-dropdown-options {
  display: none;
  flex-direction: column;
  justify-content: flex-end;
}

.wedeo-player .vjs-settings-dropdown-option {
  padding: 8px 10px 8px 25px;
  text-align: left;
  cursor: pointer;
}

.wedeo-player .vjs-settings-dropdown-option:hover,
.wedeo-player .vjs-settings-dropdown-option:focus {
  background-color: var(--mainA30);
  background: linear-gradient( 135deg, var(--cyan500A30), var(--mainA30) );
}

.wedeo-player .vjs-settings-dropdown-option.active {
  position: relative;
  font-weight: bold;
}

.wedeo-player .vjs-settings-dropdown-option.active:before {
  content: "•";
  position: absolute;
  font-weight: bold;
  left: 10px;
}


/* video preview */
.wedeo-player .vjs-small-video-preview {
  display: none;
  pointer-events: none;
  position: absolute;
  bottom: 20px;
  width: 160px;
  height: 90px;
  background-color: black;
  background-size: 500%;
  z-index: 1;
}

.wedeo-player .vjs-progress-control:hover .vjs-small-video-preview,
.wedeo-player .vjs-progress-control:active .vjs-small-video-preview {
  display: block;
}

.mobile .wedeo-player .vjs-small-video-preview {
  display: none;
}

.wedeo-player .vjs-small-time-preview {
  display: none;
  position: absolute;
  bottom: 25px;
  color: var(--white);
  padding: 3px 4px 2px 4px;
  background: var(--bg-blackA60);
  font-size: 16px;
  z-index: 2;
}

.wedeo-player .vjs-progress-control:hover .vjs-small-time-preview,
.wedeo-player .vjs-progress-control:active .vjs-small-time-preview {
  display: flex;
}
