.wedeoContainer {
  width: 60vw;
}

.mainWedeoContainer.large .wedeoContainer {
  width: 100% !important;
}

.touch .wedeoContainer {
  display: flex;
  width: 100%;
  margin: 0;
}

.wedeo-player {
  display: flex;
  width: 100%;
  height: 0px;
  padding-top: 56.25%;
  color: var(--white);
  background-color: transparent;
}

.mainWedeoContainer.large .wedeo-player {
  height: 100%;
  padding-top: 0;
}

.wedeo-player:not(.vjs-fullscreen) video {
  object-fit: fill;
}

.mainWedeoContainer.large .wedeo-player.cover video {
  object-fit: cover;
}

.mainWedeoContainer.large .wedeo-player video {
  object-fit: contain;
}

.vjs-background {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: blur(10px);
}

.wedeo-player .vjs-loading-spinner {
  border: 8px solid var(--bg-blackA60);
  margin: -50px 0 0 -50px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.wedeo-player .vjs-loading-spinner:after,
.wedeo-player .vjs-loading-spinner:before {
  margin: -8px;
}

.wedeo-player .vjs-loading-spinner:after {
  content: none;
}

.wedeo-player.vjs-seeking .vjs-loading-spinner:before,
.wedeo-player.vjs-waiting .vjs-loading-spinner:before {
  border-top-color: var(--white);
  -webkit-animation: vjs-spinner-spin 1.1s cubic-bezier(.6,.2,0,.8) infinite;
  animation: vjs-spinner-spin 1.1s cubic-bezier(.6,.2,0,.8) infinite;
}

.wedeo-player .vjs-header {
  position: absolute;
  width: 100%;
  padding: 20px 15px;
  top: 0;
  background: linear-gradient( 0deg, transparent, var(--bg-blackA60) );
  pointer-events: none;
}

.mainWedeoContainer.large .wedeo-player .vjs-header {
  display: none;
}

.mainWedeoContainer.large .wedeo-player.vjs-fullscreen .vjs-header {
  display: flex;
}

.wedeo-player .vjs-header-title {
  font-size: 30px;
  pointer-events: all;
}

.wedeo-player .vjs-sidebar {
  display: none;
  position: absolute;
  height: 100%;
  width: 100px;
  top: 0;
  right: 0;
  background: linear-gradient( 90deg, transparent, var(--bg-blackA60) );
  pointer-events: none;
}

.wedeo-player.vjs-has-started .vjs-sidebar {
  display: flex;
}

.wedeo-player .vjs-sidebar-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 60px;
  margin: auto;
}

.wedeo-player.vjs-has-started.vjs-user-inactive.vjs-playing.vjs-open-menu .vjs-header,
.wedeo-player.vjs-has-started.vjs-user-inactive.vjs-playing.vjs-open-menu .vjs-sidebar {
  opacity: 1;
}

.wedeo-player .vjs-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

.wedeo-player .vjs-rating-vote .material-icons {
  font-size: 30px;
}

.wedeo-player .vjs-rating-percent {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2px;
}

.wedeo-player .vjs-share-buttons {
  margin-top: 30px;
}

.wedeo-player .vjs-share-button {
  margin-top: 15px;
}

.wedeo-player .vjs-sidebar-content .vjs-button {
  position: relative;
  pointer-events: all;
}

.wedeo-player .vjs-sidebar-content .vjs-button:hover:before,
.wedeo-player .vjs-sidebar-content .vjs-button:focus:before {
  content: attr(data-title);
  display: flex;
  white-space: nowrap;
  position: absolute;
  top: 1px;
  right: 40px;
  font-size: 16px;
  padding: 8px 7px 7px 7px;
  text-align: right;
  background-color: var(--bg-blackA60);
  text-shadow: none;
}

.touch .wedeo-player .vjs-header,
.touch .wedeo-player .vjs-sidebar {
  display: none;
}

.wedeo-player .vjs-control {
  height: 30px;
  width: 50px;
}

.wedeo-player .vjs-big-play-button {
  top: 50%;
  left: 50%;
  height: 100px;
  width: 180px;
  margin-top: -50px;
  margin-left: -90px;
  border-radius: 0px;
  border: 3px solid var(--white);
  background-color: var(--bg-blackA60);
}

.wedeo-player .vjs-big-play-button:focus,
.wedeo-player:hover .vjs-big-play-button {
  background-color: transparent;
}

.wedeo-player .vjs-big-play-button .vjs-icon-placeholder:before {
  content: "";
  background-image: url(../img/icons/play.svg);
  background-repeat: no-repeat;
  height: 67px;
  width: 54px;
  left: 50%;
  margin-left: -23px;
  top: 50%;
  margin-top: -33px;
}

.wedeo-player.vjs-has-started .vjs-control-bar {
  display: flex;
  height: 50px;
  align-items: center;
  background: linear-gradient( 0deg, var(--bg-blackA60), var(--bg-blackA15) );
  box-shadow: 0px -50px 30px var(--bg-blackA15);
}

.wedeo-player.vjs-has-started.vjs-user-inactive.vjs-playing:not(.vjs-open-menu) .vjs-header,
.wedeo-player.vjs-has-started.vjs-user-inactive.vjs-playing:not(.vjs-open-menu) .vjs-sidebar,
.wedeo-player.vjs-has-started.vjs-user-inactive.vjs-playing:not(.vjs-open-menu) .vjs-big-button-core,
.wedeo-player.vjs-has-started.vjs-user-inactive.vjs-playing:not(.vjs-open-menu) .vjs-control-bar {
  visibility: visible;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s;
}

.wedeo-player.vjs-has-started.vjs-user-inactive.vjs-playing.vjs-open-menu .vjs-control-bar {
  opacity: 1;
}

.wedeo-player .vjs-progress-control {
  position: absolute;
  height: 7px;
  width: calc( 100% - 20px );
  top: -10px;
  right: 0;
  left: 10px;
  bottom: 50px;
  padding: 10px 0;
}

.wedeo-player .vjs-progress-control:hover .vjs-progress-holder,
.wedeo-player .vjs-progress-control:active .vjs-progress-holder {
  height: 7px;
}

.wedeo-player:not(.vjs-waiting) .vjs-play-progress {
  transition: width 0.3s cubic-bezier(0.48, 0.48, 0.48, 0.48);
}

.wedeo-player .vjs-progress-control:active .vjs-play-progress {
  transition: width 0s cubic-bezier(0.48, 0.48, 0.48, 0.48);
}

.wedeo-player  .vjs-progress-control .vjs-mouse-display {
  pointer-events: none;
}

.wedeo-player .vjs-play-progress {
  background: var(--main);
  background: linear-gradient( 135deg, var(--cyan500), var(--main) );
}


.mobile .wedeo-player .vjs-volume-control {
  display: none;
}

.mobile .wedeo-player .vjs-volume-panel.vjs-volume-panel-horizontal.vjs-hover {
  width: 50px;
}

.wedeo-player .vjs-volume-level {
  background: var(--white);
}

.wedeo-player:not(.vjs-waiting) .vjs-load-progress,
.wedeo-player:not(.vjs-waiting) .vjs-load-progress div {
  pointer-events: none;
  background: var(--silver);
  transition: width 0.5s cubic-bezier(0.48, 0.48, 0.48, 0.48);
}

.wedeo-player .vjs-slider,
.wedeo-player .vjs-progress-holder {
  background: var(--grayA60);
}

.wedeo-player .vjs-progress-control .vjs-progress-holder {
  margin: 0px;
}

.wedeo-player .vjs-button:focus,
.wedeo-player .vjs-button:focus:before,
.wedeo-player .vjs-button:hover,
.wedeo-player .vjs-button:hover:before {
  text-shadow: 0 0 5px var(--white);
}

.wedeo-player .vjs-volume-panel {
  transition: width 0.5s;
}

.wedeo-player .vjs-volume-panel .vjs-volume-control.vjs-volume-horizontal {
  margin-top: 2px;
  transition: visibility 1s, opacity 1s, height 1s 1s, width 0.5s, left 1s 1s, top 1s 1s;
}

.wedeo-player .vjs-volume-bar.vjs-slider-horizontal,
.wedeo-player .vjs-slider-horizontal .vjs-volume-level {
  height: 4px;
}

.vjs-custom-control-spacer .vjs-control {
  margin-right: 5px;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.wedeo-player .vjs-button>.vjs-icon-placeholder:before,
.wedeo-player .vjs-button .material-icons,
.wedeo-player .vjs-button [class^="weicon-"],
.wedeo-player .vjs-button [class*=" weicon-"] {
  font-size: 30px;
  line-height: 35px;
  cursor: pointer;
}

.wedeo-player .vjs-volume-level:before,
.wedeo-player .vjs-volume-control:hover .vjs-volume-tooltip,
.wedeo-player .vjs-progress-control:hover .vjs-play-progress .vjs-time-tooltip,
.wedeo-player .vjs-progress-control:hover .vjs-mouse-display .vjs-time-tooltip {
  display: none;
}

.wedeo-player .vjs-play-progress:before {
  font-size: 0;
  top: 2px;
  right: -2px;
  transition: font-size 0.2s, top 0.2s, right 0.2s;
  color: var(--main);
}

.wedeo-player .vjs-progress-control:hover .vjs-play-progress:before,
.wedeo-player .vjs-progress-control:active .vjs-play-progress:before {
  display: block;
  font-size: 17px;
  right: -9px;
  top: -5px;
}

.wedeo-player .vjs-time-control {
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 33px;
  margin-top: 5px;
  width: unset;
}

.wedeo-player .vjs-time-divider {
  width: 1px;
  padding: 0px;
  min-width: 1px;
}

.wedeo-player .vjs-remaining-time {
  display: none;
}

.wedeo-player .vjs-bottom-title {
  display: none;
  max-width: 100%;
  font-size: 15px;
  line-height: 33px;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: auto; /* moves everything before this element to the right site */
  margin-right: auto; /* moves everything after this element to the left site */
}

.mainWedeoContainer.large .wedeo-player.vjs-fullscreen .vjs-bottom-title {
  display: none !important;
}

.wedeo-player .vjs-custom-control-spacer {
  display: flex;
  margin-left: auto; /* moves everything before this element to the right site */
}

.mainWedeoContainer.large .wedeo-player .vjs-custom-control-spacer {
  margin-left: unset;
}

.mainWedeoContainer.large .wedeo-player.vjs-fullscreen .vjs-custom-control-spacer {
  margin-left: auto; /* moves everything before this element to the right site */
}


/* player settings */
.wedeo-player .vjs-settings-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 10px;
  bottom: calc( 50px + 15px );
  width: 250px;
  font-size: 16px;
  background: var(--bg-blackA60);
}

.wedeo-player .vjs-setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px 8px 10px;
  cursor: pointer;
}

.wedeo-player .vjs-setting:hover,
.wedeo-player .vjs-setting:focus,
.wedeo-player .vjs-settings-dropdown-title-container:hover,
.wedeo-player .vjs-settings-dropdown-title-container:focus {
  background: var(--mainA30);
  background: linear-gradient( 135deg, var(--cyan500A30), var(--mainA30) );
}

.wedeo-player .vjs-setting-value-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.wedeo-player .vjs-settings-dropdown {
  display: flex;
  width: 200px;
  max-height: calc(100% - 105px);
  flex-direction: column;
  position: absolute;
  right: 10px;
  font-size: 16px;
  bottom: calc( 50px + 15px );
  background: var(--bg-blackA60);
}

.wedeo-player .vjs-settings-dropdown-title-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 10px 8px 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid var(--white);
  cursor: pointer;
}

.wedeo-player .vjs-settings-dropdown-title-container .material-icons {
  margin-left: -5px;
}

.wedeo-player .vjs-settings-dropdown-options {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.wedeo-player .vjs-settings-dropdown-option {
  padding: 8px 10px 8px 25px;
  text-align: left;
  cursor: pointer;
}

.wedeo-player .vjs-settings-dropdown-option:hover,
.wedeo-player .vjs-settings-dropdown-option:focus {
  background-color: var(--mainA30);
  background: linear-gradient( 135deg, var(--cyan500A30), var(--mainA30) );
}

.wedeo-player .vjs-settings-dropdown-option.active {
  position: relative;
  font-weight: bold;
}

.wedeo-player .vjs-settings-dropdown-option.active:before {
  content: "•";
  position: absolute;
  font-weight: bold;
  left: 10px;
}

/* video Big Buttons */
.wedeo-player .vjs-big-buttons {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  gap: 5%;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: 1;
}

.wedeo-player .vjs-big-button {
  position: relative;
  text-shadow: 0 0 30px var(--bg-blackA60);
  opacity: 0;
}

.touch .wedeo-player .vjs-big-button {
  visibility: visible;
}

.touch .wedeo-player.vjs-has-started .vjs-big-button-core {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s, opacity 0.5s;
}

.touch .wedeo-player.vjs-open-menu .vjs-big-button-core {
  opacity: 0;
}

.touch .wedeo-player .vjs-big-button-core .material-icons {
  pointer-events: all;
}

.wedeo-player .vjs-big-button .material-icons {
  font-size: 80px;
}

.wedeo-player .vjs-big-button-state-video .material-icons {
  font-size: 100px;
}

.vjs-big-button-rewind-video {
  margin-right: -130px;
}

.vjs-big-button-forward-video {
  margin-left: -130px;
}

.vjs-big-button-rewind-video:before,
.vjs-big-button-forward-video:before {
  content: attr(data-time);
  position: absolute;
  top: -30px;
  font-size: 30px;
  padding: 5px 6px;
  text-align: center;
  width: 100%;
  background: var(--bg-blackA15);
}

.vjs-big-skip-buttons {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.vjs-big-skip-button {
  height: 100%;
  width: 45%;
}

/* video preview */
.wedeo-player .vjs-small-video-preview {
  display: none;
  pointer-events: none;
  position: absolute;
  bottom: 20px;
  width: 160px;
  height: 90px;
  background-color: black;
  background-size: 500%;
  z-index: 1;
}

.wedeo-player .vjs-progress-control:hover .vjs-small-video-preview,
.wedeo-player .vjs-progress-control:active .vjs-small-video-preview {
  display: block;
}

.mobile .wedeo-player .vjs-small-video-preview {
  display: none;
}

.wedeo-player .vjs-small-time-preview {
  display: none;
  pointer-events: none;
  position: absolute;
  bottom: 25px;
  color: var(--white);
  padding: 3px 4px 2px 4px;
  background: var(--bg-blackA60);
  font-size: 16px;
  z-index: 2;
}

.wedeo-player .vjs-progress-control:hover .vjs-small-time-preview,
.wedeo-player .vjs-progress-control:active .vjs-small-time-preview {
  display: flex;
}

.wedeo-player .vjs-back-button {
  display: none;
}


/* miniWedeo */

.miniWedeo .wedeo-player .vjs-header,
.miniWedeo .wedeo-player .vjs-volume-control,
.miniWedeo .wedeo-player .vjs-settings-button,
.miniWedeo .wedeo-player .vjs-size-button,
.miniWedeo .wedeo-player .vjs-picture-in-picture-control,
.miniWedeo .wedeo-player .vjs-fullscreen-control,
.miniWedeo .wedeo-player.vjs-has-started .vjs-sidebar {
  display: none;
}

.miniWedeo .wedeo-player .vjs-back-button {
  display: flex;
}

.miniWedeo .wedeo-player .vjs-volume-panel.vjs-volume-panel-horizontal.vjs-hover,
.miniWedeo .wedeo-player .vjs-volume-panel.vjs-volume-panel-horizontal.vjs-slider-active,
.miniWedeo .wedeo-player .vjs-volume-panel.vjs-volume-panel-horizontal:active {
  width: 50px;
}