@font-face {
  font-family: 'wedeome';
  src:  url('fonts/wedeome.eot?ugok7f');
  src:  url('fonts/wedeome.eot?ugok7f#iefix') format('embedded-opentype'),
    url('fonts/wedeome.ttf?ugok7f') format('truetype'),
    url('fonts/wedeome.woff?ugok7f') format('woff'),
    url('fonts/wedeome.svg?ugok7f#wedeome') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="weicon-"], [class*=" weicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wedeome' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.weicon-videos:before {
  content: "\e903";
}
.weicon-home:before {
  content: "\e904";
}
.weicon-file_download:before {
  content: "\e902";
}
.weicon-share:before {
  content: "\e901";
}
.weicon-lightbulb:before {
  content: "\e900";
}
